USE [AspNetCoreMvcDemoAppDb]
GO
/****** Object:  UserDefinedTableType [dbo].[IdList]    Script Date: 25.04.2026 19:30:13 ******/
CREATE TYPE [dbo].[IdList] AS TABLE(
	[Id] [int] NULL
)
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
	[IsSuperAdmin] [bit] NOT NULL,
	[RegisterDate] [date] NOT NULL,
	[Avatar] [nvarchar](64) NOT NULL,
	[PwHash] [binary](64) NOT NULL,
	[PwSalt] [binary](32) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Users_View]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Users_View]
AS
SELECT        u.Id, r.Name AS RoleName, u.Name + ' ' + u.Surname AS NameSurname, u.Telephone, u.Email, u.Active, u.IsSuperAdmin, u.RegisterDate, u.Avatar, u.RoleId
FROM            dbo.Users AS u INNER JOIN
                         dbo.UserRoles AS r ON u.RoleId = r.Id
GO
/****** Object:  View [dbo].[Users_ActiveIds_View]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Users_ActiveIds_View]
AS
SELECT        Id
FROM            dbo.Users WITH (NOLOCK)
WHERE        (Active = 1)
GO
/****** Object:  Table [dbo].[UserFiles]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UploaderId] [int] NOT NULL,
	[Name] [nvarchar](155) NOT NULL,
	[Description] [nvarchar](150) NOT NULL,
	[ContentType] [nvarchar](127) NOT NULL,
	[SizeInBytes] [bigint] NOT NULL,
	[FormattedSize] [decimal](18, 2) NOT NULL,
	[SizeUnit] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[LastUpdate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_UserFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserFiles_View]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UserFiles_View]
AS
SELECT        a.Id, a.UploaderId, b.Name + ' ' + b.Surname AS UploaderName, a.Name, a.Description, a.ContentType, a.SizeInBytes, a.FormattedSize, a.SizeUnit, a.CreatedAt, a.LastUpdate
FROM            dbo.UserFiles AS a INNER JOIN
                         dbo.Users AS b ON a.UploaderId = b.Id
GO
SET IDENTITY_INSERT [dbo].[UserFiles] ON 

INSERT [dbo].[UserFiles] ([Id], [UploaderId], [Name], [Description], [ContentType], [SizeInBytes], [FormattedSize], [SizeUnit], [CreatedAt], [LastUpdate]) VALUES (58, 1021, N'dummy-document.pdf', N'Dummy Document', N'application/pdf', 13264, CAST(12.95 AS Decimal(18, 2)), N'KB', CAST(N'2026-04-25T18:58:59.0000000' AS DateTime2), CAST(N'2026-04-25T18:58:59.0000000' AS DateTime2))
INSERT [dbo].[UserFiles] ([Id], [UploaderId], [Name], [Description], [ContentType], [SizeInBytes], [FormattedSize], [SizeUnit], [CreatedAt], [LastUpdate]) VALUES (59, 1021, N'unesco-world-heritage.webp', N'UNESCO World Heritage', N'image/webp', 30320, CAST(29.61 AS Decimal(18, 2)), N'KB', CAST(N'2026-04-25T19:00:30.0000000' AS DateTime2), CAST(N'2026-04-25T19:00:30.0000000' AS DateTime2))
INSERT [dbo].[UserFiles] ([Id], [UploaderId], [Name], [Description], [ContentType], [SizeInBytes], [FormattedSize], [SizeUnit], [CreatedAt], [LastUpdate]) VALUES (60, 1021, N'little-bird.jpg', N'Little Bird', N'image/jpeg', 26120, CAST(25.51 AS Decimal(18, 2)), N'KB', CAST(N'2026-04-25T19:01:02.0000000' AS DateTime2), CAST(N'2026-04-25T19:01:02.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserFiles] OFF
GO
INSERT [dbo].[UserRoles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[UserRoles] ([Id], [Name]) VALUES (2, N'Uploader')
INSERT [dbo].[UserRoles] ([Id], [Name]) VALUES (3, N'Downloader')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [RoleId], [Name], [Surname], [Telephone], [Email], [Active], [IsSuperAdmin], [RegisterDate], [Avatar], [PwHash], [PwSalt]) VALUES (1002, 1, N'Elder', N'Maxon', N'05700284000', N'elder@example.com', 1, 1, CAST(N'2025-11-16' AS Date), N'6ead62b30f4a4d2999fa8836fe5e26ee.webp', 0x6B9584B61C83DB458972511B03BAB1EE4E64F4FFA620B9BD17A83278BA9071C93AD2031BFB354A2FE13F247E9E0EEFB473E844E20A900F141DA3D60A3F439920, 0xD83C80C9C8890010A9DC9F3FFCA53AA9B1D9EABD79DA710A126B5FB6229392A8)
INSERT [dbo].[Users] ([Id], [RoleId], [Name], [Surname], [Telephone], [Email], [Active], [IsSuperAdmin], [RegisterDate], [Avatar], [PwHash], [PwSalt]) VALUES (1017, 3, N'Carl', N'Sun', N'05700284002', N'carl@example.com', 1, 0, CAST(N'2026-03-28' AS Date), N'831a37e733e84621ae962cb80aba236a.webp', 0xDB88A26FD91ED1E4E88C17EE3618B91912B71CA512407E07D526CE0EEC6EA26C0D6253AB3ABF29242A8C6F1DCB3397C9725ABEE4B13418C39E658726CF30457D, 0x58D39B05FCD0B0B7CB855C2E2FBE791345593D668869E3545AF25E338985E1DA)
INSERT [dbo].[Users] ([Id], [RoleId], [Name], [Surname], [Telephone], [Email], [Active], [IsSuperAdmin], [RegisterDate], [Avatar], [PwHash], [PwSalt]) VALUES (1021, 2, N'Arlo', N'Archiver', N'05700284003', N'arlo@example.com', 1, 0, CAST(N'2026-04-24' AS Date), N'86c5dc6e5b9b431cadff6c7a27c75867.webp', 0x7D29EC36F91BA6DDBBB2B680B020C04E901955A1EDADC013FE1E46839F8EC4B0A41DB881E7CB8930AB6D6A697052363E605CC4EE6B33F1F15F44472C3E3CBEAA, 0x273E5D79F8272263FAAD93C92F4A355B2C030AE365EAA88611F813AB9398FA33)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 25.04.2026 19:30:13 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Telephone]    Script Date: 25.04.2026 19:30:13 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Telephone] UNIQUE NONCLUSTERED 
(
	[Telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserFiles] ADD  CONSTRAINT [DF_UserFiles_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserFiles] ADD  CONSTRAINT [DF_UserFiles_LastUpdate]  DEFAULT (getdate()) FOR [LastUpdate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsSuperAdmin]  DEFAULT ((0)) FOR [IsSuperAdmin]
GO
ALTER TABLE [dbo].[UserFiles]  WITH CHECK ADD  CONSTRAINT [FK_UserFiles_Users] FOREIGN KEY([UploaderId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFiles] CHECK CONSTRAINT [FK_UserFiles_Users]
GO
/****** Object:  StoredProcedure [dbo].[UserFiles_Delete]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserFiles_Delete]
    @Ids dbo.IdList READONLY,
    @UploaderId INT = NULL
AS
BEGIN
    DELETE a 
    FROM UserFiles a
    INNER JOIN @Ids b ON a.Id = b.Id
    WHERE (@UploaderId IS NULL OR a.UploaderId = @UploaderId);
END

GO
/****** Object:  StoredProcedure [dbo].[UserFiles_Save]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserFiles_Save]
(
    @Id INT = 0,
    @UploaderId INT,
    @Name NVARCHAR(155),
    @Description NVARCHAR(150),
    @ContentType NVARCHAR(127),
    @SizeInBytes BIGINT,
    @FormattedSize DECIMAL(18, 2),
    @SizeUnit NVARCHAR(10)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Id = 0)
    BEGIN
        INSERT INTO [dbo].[UserFiles] (
                    [UploaderId],
                    [Name],
                    [Description],
                    [ContentType],
                    [SizeInBytes],
                    [FormattedSize],
                    [SizeUnit]
                )
                VALUES (
                    @UploaderId,
                    @Name,
                    @Description,
                    @ContentType,
                    @SizeInBytes,
                    @FormattedSize,
                    @SizeUnit
                );
    END
    ELSE
    BEGIN
        UPDATE [dbo].[UserFiles]
                SET [UploaderId] = @UploaderId,
                    [Name] = @Name,
                    [Description] = @Description,
                    [ContentType] = @ContentType,
                    [SizeInBytes] = @SizeInBytes,
                    [FormattedSize] = @FormattedSize,
                    [SizeUnit] = @SizeUnit,
                    [LastUpdate] = GETDATE()
                WHERE [Id] = @Id;
    END

END;

GO
/****** Object:  StoredProcedure [dbo].[Users_Delete]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_Delete]
    @Ids dbo.IdList READONLY
AS
BEGIN
    SET NOCOUNT ON;

    -- Delete only non-super admins
    DELETE a
    FROM dbo.Users a
    INNER JOIN @Ids b ON a.Id = b.Id
    WHERE a.IsSuperAdmin = 0;

    -- Return the IDs of active users after deletion
    SELECT Id FROM dbo.Users_ActiveIds_View;
END

GO
/****** Object:  StoredProcedure [dbo].[Users_GetAllFileNames]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_GetAllFileNames]
    @Ids dbo.IdList READONLY
AS
BEGIN
    SET NOCOUNT ON;

    SELECT A.Avatar AS FileName 
    FROM Users A
    INNER JOIN @Ids B ON A.Id = B.Id

    UNION ALL

    SELECT A.Name AS FileName
    FROM UserFiles A
    INNER JOIN @Ids B ON A.UploaderId = B.Id
END

GO
/****** Object:  StoredProcedure [dbo].[Users_Save]    Script Date: 25.04.2026 19:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_Save]
(
    @Id       INT,
    @RoleId   INT,
    @Name     NVARCHAR(50),
    @Surname  NVARCHAR(50),
    @Telephone NVARCHAR(20),
    @Email    NVARCHAR(50),
    @Active   BIT,
    @Avatar NVARCHAR(64),
    @PwHash BINARY(64),
    @PwSalt BINARY(64)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Id = 0)
    BEGIN
        IF EXISTS (SELECT 1 FROM dbo.Users WHERE Telephone = @Telephone)
        BEGIN
            RAISERROR('The telephone number is already registered.', 16, 1);
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM dbo.Users WHERE Email = @Email)
        BEGIN
            RAISERROR('The email address is already in use.', 16, 1);
            RETURN;
        END

        INSERT INTO dbo.Users (
            RoleId, Name, Surname, Telephone, Email,
            Active, RegisterDate,Avatar, PwHash, PwSalt
        )
        VALUES (
            @RoleId, @Name, @Surname, @Telephone, @Email,
            @Active, GETDATE(),@Avatar, @PwHash, @PwSalt
        );
    END
    ELSE
    BEGIN
        IF EXISTS (SELECT 1 FROM dbo.Users WHERE Telephone = @Telephone AND Id != @Id)
        BEGIN
            RAISERROR('This telephone number is already linked to another account.', 16, 1);
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM dbo.Users WHERE Email = @Email AND Id != @Id)
        BEGIN
            RAISERROR('This email address is already linked to another account.', 16, 1);
            RETURN;
        END

        DECLARE @IsSuperAdmin BIT;

        -- Get existing SuperAdmin status
        SELECT TOP 1 @IsSuperAdmin=IsSuperAdmin FROM dbo.Users WHERE Id = @Id;

        IF (@IsSuperAdmin IS NULL)
        BEGIN
            RAISERROR('User not found.', 16, 1);
            RETURN;
        END

        -- Super Admin must be active
        IF (@IsSuperAdmin=1)
        BEGIN
            SET @Active=1
        END

        UPDATE dbo.Users
        SET
            RoleId       = @RoleId,
            Name         = @Name,
            Surname      = @Surname,
            Telephone    = @Telephone,
            Email        = @Email,
            Active       = @Active,
            Avatar       = @Avatar,
            PwHash       = @PwHash,
            PwSalt       = @PwSalt
        WHERE Id = @Id;
    END

    -- Return the IDs of active users after deletion
    SELECT Id FROM dbo.Users_ActiveIds_View;

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 296
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "b"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 263
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UserFiles_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UserFiles_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Users_ActiveIds_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Users_ActiveIds_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "u"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 259
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "r"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 102
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Users_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Users_View'
GO
